// Default
$white: #ffffff;
$black: #000000;

// Main
$grey-50: #fcfcfc;
$grey-100: #f6f6f6;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #545454;
$grey-800: #424242;
$grey-900: #212121;

$black-50: #a49f9d;
$black-100: #8d8784;
$black-200: #77706c;
$black-300: #655d57;
$black-400: #584e47;
$black-500: #4a3e36;
$black-600: #3e3027;
$black-700: #302118;
$black-800: #21140c;
$black-900: #170900;

$red-50: #ffece8;
$red-100: #f4cec7;
$red-200: #edaa9e;
$red-300: #ea8775;
$red-400: #e25e46;
$red-500: #e43c1a;
$red-600: #d33313;
$red-700: #bf290a;
$red-800: #a72004;
$red-900: #871700;

// Elements
$background-primary: $white;

$title: $grey-50;
$subtitle: $grey-400;
$overlay: $black-800;
$input-large: $grey-700;

$input-prediction-background: $grey-50;
$input-prediction-label: $grey-400;
$input-prediction-label-focus: $grey-900;
$input-prediction-focus: $grey-100;

$input-prediction-button-background: $grey-50;
$input-prediction-button-color: $red-500;
$input-prediction-button-hover-background: $red-500;
$input-prediction-button-hover-color: $grey-50;
$input-prediction-button-active-background: $red-600;
$input-prediction-button-active-color: $grey-50;
